@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
    url('./fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
    url('./fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
    url('./fonts/Montserrat/Montserrat-ExtraBold.woff2') format('woff2');
}

button:focus {
  outline: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.sidebar {
  flex-basis: 15%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__column {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.content {
  flex-basis: 85%;
  background-color: #181818;

  &__wrapper {
    min-height: 100vh;
    .preloader {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }
  }
}

.sidebar__logo {
  margin-top: 10px;
  width: 50%;

  .logo__item {
    width: 100%;
  }
}

.menu {
  &__list {
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: flex;
    height: 40px;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin: 10px auto;
    border-radius: 10px;
    text-decoration: none;

    &.active {
      background-color: #333;

      .menu__link {
        opacity: 1;
      }

      .menu__icon {
        opacity: 1;
      }
    }

    &:hover {
      & {
        background-color: #333;
      }
    }
  }
  &__icon {
    height: 100%;
    margin-right: 10px;
    opacity: 0.6;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    opacity: 0.6;
  }
}

.cover {
  &__title {
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  &__link {
    text-decoration: none;
    display: block;
  }

  &__wrapper {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    //justify-content: center;
    margin: 0 auto;
  }

  &__item {
    width: 200px;
    padding: 15px;
    background-color: #222;
    border-radius: 5px;
    transition: all 0.5s;
    -webkit-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2);
    margin: 10px;

    &:hover {
      background-color: #333;
      cursor: pointer;
    }
  }

  &__name {
    margin-top: 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__descr {
    margin-top: 10px;
    color: #fff;
    opacity: 0.7;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .cover__img {
    img {
      width: 100%;
      -webkit-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2);
    }
  }
}

.playlist {
  &__head {
    display: flex;
    height: 350px;
    background-color: #55161d;
    align-items: flex-end;
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
  }

  &__cover {
    width: 250px;
    padding: 20px;

    .cover {
      width: 100%;
      box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
    }
  }

  &__description {
    padding: 20px;

    .title {
      font-size: 70px;
      font-weight: 800;
      color: #fff;
    }

    .subtitle {
      color: #fff;
      font-size: 20px;
      margin-top: 10px;
    }
  }

  .interlayer {
    color: #fff;
    display: flex;
    padding: 20px;
    border-bottom: 2px solid #47383a;
    color: #c29ba0;
    align-items: center;

    .name {
      flex-basis: 40%;
      padding: 10px;
    }
    .album {
      flex-basis: 30%;
      padding: 10px;
    }
    .data {
      flex-basis: 15%;
      padding: 10px;
    }
    .time {
      margin-left: auto;
      padding: 10px;
    }
  }

  .track {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: #d1a2a9;
    align-items: center;

    &:hover {
      background-color: #333;
    }

    &__item {
      flex-basis: 40%;
      display: flex;
      align-items: center;
      padding: 10px;

      .number {
      }

      .track__cover {
        padding: 0 15px;
      }

      .name {
        color: #fff;
        font-size: 18px;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .artists {
        margin-top: 4px;
        font-size: 16px;
        color: #d1a2a9;
        span:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    &__album {
      flex-basis: 30%;
      padding: 10px;
      color: #d1a2a9;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    &__data {
      flex-basis: 15%;
      padding: 10px;
    }
    &__time {
      flex-basis: 15%;
      text-align: right;
      padding: 10px;
    }
  }
}
