@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
    url("./fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"),
    url("./fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2");
}

button:focus {
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.sidebar {
  flex-basis: 15%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__column {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.content {
  flex-basis: 85%;
  background-color: #181818;
  padding: 25px;
}

.sidebar__logo {
  margin-top: 10px;
  width: 50%;

  .logo__item {
    width: 100%;
  }
}

.menu {
  &__list {
    padding: 0;
    list-style-type: none;
  }
  &__item {
    display: flex;
    height: 40px;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin: 10px auto;
    border-radius: 10px;

    // &.active {
    // 	background-color: #333;

    //   a {
    //     opacity: 1;
    //   }
    // }

    &:hover {
      & {
        background-color: #333;

        a {
          opacity: 1;
        }
      }
    }
  }
  &__icon {
    height: 100%;
    margin-right: 10px;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    opacity: 0.6;
  }
}

.playlist {
  list-style-type: none;

  &__category {
    display: flex;
    flex-direction: column;
    margin-top: 35px;

    .category {
      &__name {
        font-size: 25px;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
      }

      &__descr {
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        opacity: 0.7;
        margin-top: 5px;
      }
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 25px;
  }

  &__wrap {
    padding: 10px;
  }

  &__item {
    width: 200px;
    padding: 15px;
    background-color: #222;
    border-radius: 5px;
    transition: all 0.5s;
    -webkit-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: #333;
      cursor: pointer;
    }
  }

  &__name {
    margin-top: 10px;
    color: #fff;
    font-family: "Montserrat";
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__descr {
    margin-top: 10px;
    color: #fff;
    opacity: 0.7;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.cover__img {
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2);
}
